.languagesAndFlags{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    max-width: 100px;
    width: 100%;
    margin-left: 25px;
}

.serbianFlag{
    max-width: 20px;
    width: 100%;
    cursor: pointer;
}

.englishFlag{
    max-width: 20px;
    width: 100%;
    cursor: pointer;
}

.selected{
    border: 2px solid black;
    border-radius: 50%;
}

@media screen and (max-width: 1200px) {
    .languagesAndFlags{
        margin-left: none;
    }
}